# Homework 1 - 60 points possible - Due 2/1 11:59pm

# Problem 1:  Expression warmups (20 pts: 2,2,2,2,4,2,3,3)

Compute the following quantities in the code boxes that follow each prompt.
Note that for each of these, we care about what the code *evaluates to* and not what it *prints* - so you don't need to call print() for any of these.

a) (2 pts) The square of 2023.

In [ ]:
2023**2# TODO

4092529

b) (2 pts) The number of characters in the phrase "Pursue the unknown end."  (Including the whitespace and period.)

In [ ]:
len("Pursue the unknown end.")# TODO

23

c) (2 pts) The remainder (import the math library) of -289 divided by 12.

In [ ]:
import math
math.remainder(-289,12)# TODO

-1.0

d) (2 pts) A Boolean expression that is true if and only at least one of variable *a* and variable *b* are True.

In [2]:
a = True # play with this to test
b = True  # play with this to test
# TODO your expression below
a or b

True

e) (4 pts) A Boolean expression that is true if and only if *exactly one* of variable *a* and variable *b* is True and the other is False.  (Hint:  break it into two cases)

In [3]:
a=False
b=True
# a is true and b is false or a is false and b is true
(a and not b) or (not a and b)

True

f) (2 pts) An expression that is true only if the variable *balance* is at least 10000.

In [6]:
balance = 100000
# TODO your expression below
balance >= 10000

True

g) (3pts) An expression that is True only if variable *balance* is in the range [-500, 500] (-500 through 500 inclusive) and is also not 0.

In [10]:
balance = 499
# TODO expression below
-500<=balance and balance <=500 and balance!= 0

True

h) (3 pts) An expression that is true only if list L1 and list L2 have the same length.

In [11]:
L1 = ['a', 'b']
L2 = ['c', 'd']
# TODO expression below
len(L1) == len(L2)

True

# Problem 2:  Conditional warmups (20 pts: 6,8,6)

Write a brief program for each prompt that makes use of the provided variable current_hour to determine what hour of the day it is.  current_hour can be set to any value between 0 (midnight) and 23 (11pm).

In [ ]:
current_hour = 10  # change to get different outputs below
0<current_hour and current_hour<23

True

a) (6 pts) If the current hour is between 5 and 9 inclusive, print "Breakfast!".  If the current hour is between 10 and 13 inclusive, print "Brunch!"  Otherwise, print "Not breakfast :(".

In [ ]:
# TODO
current_hour = 11
if 5<=current_hour and current_hour<=9:
  print("Breakfast!")
elif 10<=current_hour and current_hour<=13:
  print("Brunch!")
else:
  print("Not breakfast :(")

Brunch!

b) (8 points) If the time is equal to or after 9:00pm (21), print "In three hours, it will be tomorrow." Otherwise, print "In three hours, it will be " followed by the hour three hours later using non-military time (so between 1 and 12).  (For example, if current_hour were 16, write "In three hours, it will be 7.")

In [14]:
# TODO
current_hour = 9
if current_hour>=21:
  print("In three hours, it will be tomorrow")
else:
  if current_hour>0 and current_hour<10:
    print("In three hours, it will be", current_hour+3)
  else:
    print("In three hours, it will be", current_hour-9)

In three hours, it will be 12

c) (6 points)  Print "X hours until midnight" if it's noon or later in the day, where X is the correct number of hours, and "X hours until noon" if it's before noon.  If it's noon or midnight, print "Noon" or "Midnight", respectively.  (You don't need to change "hours" to "hour" if there's just one.)

In [ ]:
# TODO
current_hour = 12
if current_hour > 12 and current_hour != 24:
  current_hour = 24 - current_hour 
  print( current_hour, "hours until midnight")
elif current_hour< 12:
  current_hour = 12 - current_hour
  print(current_hour,"hours until noon")
elif current_hour == 24:
  print("midnight")
elif current_hour == 12:
  print("noon")

noon

# Problem 3: Lists (20 pts: 2,2,3,4,3,3)

Some gas prices around the Boston area are 4.99, 5.10, 5.40, and 4.80.

a, 2pts) Create a variable named gas_prices that stores all four values as a list.

In [17]:
# TODO
gas_prices = [4.99, 5.10, 5.40, 4.80]
gas_prices

[4.99, 5.1, 5.4, 4.8]

b, 2pts) We discovered a new gas station.  Call the list method
 append() to add the value 4.75 to the end of the list.

In [18]:
gas_prices = [4.99, 5.10, 5.40, 4.80]
gas_prices.append(4.75)
gas_prices# TODO

[4.99, 5.1, 5.4, 4.8, 4.75]

c, 3pts) Call the sort() method on the prices, then write an expression that returns the median price in the list, that is, the price in the middle.  (You can hardcode the index of the median price.)

In [19]:
gas_prices = [4.99, 5.10, 5.40, 4.80, 4.75]
gas_prices.sort()
gas_prices[2]

4.99

d, 4pts) Assuming the list is already sorted, code an expression that returns the difference between the largest price and the smallest price.

In [19]:
max(gas_prices)-min(gas_prices)

0.6500000000000004

e, 3pts) Look online for a list method that reverses the order of the list.  Do this to gas_prices and print it.

In [1]:
gas_prices = [4.99, 5.10, 5.40, 4.80, 4.75]
gas_prices.sort()
gas_prices[::-1]

[5.4, 5.1, 4.99, 4.8, 4.75]

f, 3 pts) Here is a list-of-lists "prices" containing gas prices by the gallon in the first list, and milk prices by the gallon in the second list.  Write the expression that accesses the second milk price (3.04).

In [21]:
prices = [[4.99, 5.10, 5.40, 4.80], # gas prices
          [2.90, 3.04, 3.32, 3.55]] # milk prices

In [22]:
prices[1][1]

3.04

g, 3pts) Use the function max() to find the largest *milk* price.  (Index just once into prices, to get the milk list.)

In [31]:
max(prices[1])# TODO

3.55