# Problem 1:  Basic functions (36 pts:  7,7,7,7,8)

For each of the following subproblems, you also need to write tests.  In square brackets, the inputs of the tests will be described.  Print the output of the function on the given inputs and check that the output matches your expectations.

a, 7 pts) count_found() takes two items *a* and *b* and one list *l* as input, and returns 2 if both items *a* and *b* are in list *l*, 1 if just one of them is in list *l*, and 0 otherwise.  [4 tests:  both in the list, a in the list but not b, b in the list but not a, neither in the list.]

In [ ]:
def count_found(a,b,l):
  if a in l and b in l:
    return 2
  elif a in l or b in l:
    return 1
  else:
    return 0
print(count_found(1,2,[1,2,3,4]))
print(count_found(1,2,[1,3,4,5]))
print(count_found(1,2,[2,3,4,5]))
print(count_found(1,2,[3,4,5,6]))

2
1
1
0

b, 7 pts) Write a function total_price() that takes a list of prices and a list of quantities, and returns the sum of $price_i * quantity_i$ over all i.  You can assume the lists have the same length.  [2 tests:  [5,10,15],[1,2,3] should return 70; [],[] should return 0.]

In [ ]:
import numpy as np
def total_price(price, quantity):
  return sum(np.array(price)*(np.array(quantity)))
print(total_price([5,10,15],[1,2,3]))
print(total_price([],[]))

70
0

c, 7 pts) Write a function smaller_array() that takes two 2D arrays A and B as inputs, and returns True if and only if A has fewer elements than B. [2 tests:  A = [[1,2],[3,4]] and B=[[1,2,3],[4,5,6]] should return True; A=[[1,2,3],[4,5,6]] and B=[[1,2],[3,4],[5,6]] should return False since they're equal in size.]

In [ ]:
def smaller_array(A,B):
  if A < B:
    return True
  else: 
    return False
print(smaller_array([[1,2],[3,4]],[[1,2,3],[4,5,6]]))
print(smaller_array([[1,2,3],[4,5,6]],[[1,2],[3,4],[5,6]]))
# TODO smaller_array() and tests

True
False

d, 7 pts) Write a function maybe_sum() that takes a string and a list as its two arguments. If the string argument is the all lowercase string 'add', return the sum of the list (which you can assume contains all integers).  If the string argument is the lowercase string 'multiply', return the product of the elements of the list (you can find a function to do this online).  If the string is neither of those strings, return 0. [3 tests:  'ignore', [1,2,3,4] should return 0; 'add', [1,2,3,4] should return 10; 'multiply', [1,2,3,4] should return 24.]

In [ ]:
import numpy as np
def maybe_sum(str,list):
  if str == 'add':
    return (sum(list))
  elif str == 'multiply':
    return (np.prod(list))
  elif str == 'ignore': 
    return ('0')
print(maybe_sum('add',[1,2,3,4]))
print(maybe_sum('multiply', [1,2,3,4]))
print(maybe_sum('ignore',[1,2,3,4]))

10
24
0

e, 8 pts) Write a function find_all() that takes an input list *to_find* and list of numbers *lst*.  The first return value should be the count of items in *lst* that match any items in *to_find*.  The second return value should be True if and only if all values in *to_find* are in *lst*.  [2 tests:  [2,3],[2,3,2] returns (3, True); [2,3,5], [5,5,3,7] returns (3,False).]  (Hint:  You may find it easiest to iterate over *lst* to find the count but iterate over *to_find* to decide whether every item is in *lst*.)

In [ ]:
def find_all(to_find,lst):
  count = 0
  match = True
  for i in lst:
    if i in to_find:
      count += 1
  for j in to_find:
    if j not in lst:
      match = False
  return(count,match) 
print(find_all([2,3],[2,3,2]))
print(find_all([2,3,5],[5,5,3,7]))
# TODO find_all() and tests

(3, True)
(3, False)

# Problem 2:  Sets and Dictionaries (24 pts:  6,8,10)

a, 6 pts) Write a function total_value() that takes a list and a dictionary as arguments, and returns the total value of all the items in the list given their values in the dictionary.  If an item isn't in the dictionary, it is worth 1. For example, if ['Copper','Gold','Smithy'] was passed along with a dictionary that gave values of 1 for Copper and 3 for Gold, with Smithy not in the dictionary, then the function would return 5.

In [ ]:
def total_value(lst,dictionary):
  value = 0
  for coins in lst:
    if coins not in dictionary:
      value += 1
    else:
      value += dictionary[coins]
  return(value)
# TODO total_value()

In [ ]:
coins = {'Copper':1,'Silver':2,'Gold': 3}
total_value(['Copper','Gold','Smithy'], coins) # expect 5

5

b, 8pts) Write a function tuples_to_dict() that, given a list of (string, number) tuples, returns a dictionary where the keys are the strings from the list and their values are the numbers that were associated with those strings. If a key appears twice or more in the list, then the dictionary value should be the max of the number values. For example, tuples_to_dict([('words', 5),('and',4),('words',3),('and',2]) would produce the dictionary {'and': 4, 'words': 5}. You don't need to clean or transform the strings in any way (for example, by making them all lowercase).  The order that the keys are listed in for the output doesn't matter.

In [ ]:
def tuples_to_dict(list_of):
  dictionary = {}
  for tup in list_of:
    if tup[0] in dictionary:
      if tup[1] > dictionary[tup[0]]:
        dictionary[tup[0]] = tup[1]
    else:
      dictionary[tup[0]] = tup[1]
  return(dictionary)
# TODO tuples_to_dict()

In [ ]:
tuples_to_dict([('words',5),('and',4),('words', 3),('and',2)])

{'words': 5, 'and': 4}

c, 10pts) Write a function min_counts() that takes two dictionaries as arguments and returns a single dictionary where the value for each key is the min of the two dictionary values.  If a key is just in one dictionary, it should be entered in the new dictionary with a value of 0.  Thus min_counts({'words': 2, 'and':1},{'words':1,'and':1,'more':1}), would result in the dictionary {'and':1,'more':0,'words':1}.  The order of the keys in your printed dictionary doesn't matter.

In [13]:
def min_counts(dict_1,dict_2):
  val = {}
  if len(dict_1)>len(dict_2):
    for key in dict_1: 
      if key not in dict_2:
        val[key]=0
      else:
        if dict_1[key]<dict_2[key]:
          val[key]=dict_1[key]
        else:
          val[key]=dict_2[key]
  else:
    for key in dict_2:
      if key not in dict_1:
        val[key]=0
      else:
        if dict_1[key]<dict_2[key]:
          val[key]=dict_1[key]
        else:
          val[key]=dict_2[key]
    return val

In [14]:
min_counts({'words': 2, 'and':1},{'words':1,'and':1,'more':1})

{'words': 1, 'and': 1, 'more': 0}